@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-white font-sans antialiased overflow-x-hidden;
  }
}

/* Custom scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #10101a;
}

::-webkit-scrollbar-thumb {
  background: #2d2d44;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9238e5;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}